@import '~antd/dist/antd.css';

body {
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  background-color: #c8cacc;
  min-width: 320px;
  width: 100%;
  height: 100%;

  #root {
		width: 100%;
  	height: 100%;
	}
}


